<!-- START FOOTER DESIGN AREA -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <div class="social-links">
                    <ul>
                        <li><a href="https://www.facebook.com/stranianelli/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/el3um4s" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <!--<li><a href=""><i class="fa fa-google-plus"></i></a></li>-->
                        <li><a href="https://github.com/el3um4s" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="http://stranianelli.com/blog/" target="_blank"><i class="fa fa-wordpress"></i></a></li>
                    </ul>
                </div>
                <p>&copy;Copyright 2018-2028 Strani Anelli | All RightReserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- / END FOOTER DESIGN AREA -->
