<!-- START HOMEPAGE DESIGN AREA -->
<header id="home" class="welcome-area">
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <!-- START LOGO DESIGN AREA -->
                    <div class="logo">
                        <a href="index.html">Strani Anelli</a>
                    </div>
                    <!-- END LOGO DESIGN AREA -->
                </div>
                <div class="col-sm-9">
                    {% include nav.html %}
                </div>
            </div>
        </div>
    </div>
    {% include welcome-area.html %}
</header>
<!-- / END HOMEPAGE DESIGN AREA -->
