<!-- START WORK DESIGN AREA -->
<section id="work" class="work section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>featured works.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="work">
                <li class="filter" data-filter="all">all</li>
                {% for categoria in site.data.projects.categorie %}
                    <li class="filter" data-filter=".{{ categoria }}">{{ categoria }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="work-inner">
            <div class="row work-posts grid">
              {% for progetto in site.data.projects.progetto %}
                  <div class="col-md-4 col-sm-6 mix {{ progetto.categoria | join: ' ' }}">
                      <div class="item">
                          <a href="{{ progetto.link }}" target="_blank" class="">
                              <figure class="effect-ruby">
                                  <img src="{{ progetto.immagine }}" alt="{{ progetto.title }}">
                                  <figcaption>
                                      <h2>{{ progetto.title }}</h2>
                                      <p>{{ progetto.description }}</p>
                                  </figcaption>
                              </figure>
                          </a>
                      </div>
                  </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- / END START WORK DESIGN AREA -->
