@font-face {
    font-family: "Nosy";
    src: url(NOSY_Facetype_by_Rory_Harnden.otf) format("opentype");
}

.Nosyoutput {
    font-family: "Nosy";
    font-size: 50vh;
    line-height: 1.75em;
    letter-spacing: 0;
    margin-left: 0.5ex;
    -o-font-feature-settings: "liga" on;
    -o-font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga" on;
    -moz-font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "liga" on;
    -webkit-font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga" on;
    font-variant-ligatures: common-ligatures;
}

#output {
    font-family: "Nosy";
    font-size: 50vh;
    line-height: 1.75em;
    letter-spacing: 0;
    margin-left: 0.5ex;
    -o-font-feature-settings: "liga" on;
    -o-font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga" on;
    -moz-font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "liga" on;
    -webkit-font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga" on;
    font-variant-ligatures: common-ligatures;
}
